services:
  postrest:
    image: postgrest/postgrest:v14.0
    ports:
      - "3000:3000"
    environment:
      PGRST_DB_URI: postgres://sport:sport@host.docker.internal:5432/sport
      PGRST_DB_SCHEMAS: "api"
      PGRST_DB_ANON_ROLE: "view_api"
      PGRST_OPENAPI_SERVER_PROXY_URI: http://localhost:3000
    networks:
      - sport_viewer
  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    expose:
      - "8080"
    environment:
      API_URL: http://localhost:3000/


networks:
  sport_viewer:
    external: false

